                    <h4 style="display: flex; justify-content: center; align-items: center;" class="card-title" >Upgrade Resources</h4>
                    <h5 style="display: flex; justify-content: center; align-items: center;" >Dont have enough resources?</h5><br>
                    <a class="btn btn-primary btn-lg" style="display: flex; justify-content: center; align-items: center;" href="../store">Buy More!/a>